In [1]:
import pandas as pd

In [2]:
# import cleaned up movie data
movieDF = pd.read_csv('Inflation_Adjusted_Movie.csv')
movieDF.dtypes

Unnamed: 0               int64
Title                   object
Year                     int64
Release Date            object
Genre                   object
IMDb Rating            float64
Metascore              float64
Rated                   object
Box_Office_Adjusted    float64
dtype: object

In [3]:
# import economic indicator data
econDF = pd.read_csv('USA_Multiyear_Indicators.csv')
econDF.dtypes

Unnamed: 0           int64
LOCATION            object
TIME                 int64
GDP                float64
GDP_1              float64
GDP_2              float64
Unemployment       float64
Unemployment_1     float64
Unemployment_2     float64
Confidence         float64
Confidence_1       float64
Confidence_2       float64
Median_Income        int64
Median_Income_1      int64
Median_Income_2      int64
dtype: object

In [4]:
econDF.head()

,Unnamed: 0,LOCATION,TIME,GDP,GDP_1,GDP_2,Unemployment,Unemployment_1,Unemployment_2,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2
0,0,USA,1992,3.522443,-0.108262,1.885960,7.508333,6.816667,5.616667,98.883736,98.929730,99.391740,53897,54318,55952
1,1,USA,1993,2.752852,3.522443,-0.108262,6.900000,7.508333,6.816667,99.561792,98.883736,98.929730,53610,53897,54318
2,2,USA,1994,4.028831,2.752852,3.522443,6.083333,6.900000,7.508333,100.623117,99.561792,98.883736,54233,53610,53897
3,3,USA,1995,2.684285,4.028831,2.752852,5.608333,6.083333,6.900000,100.611942,100.623117,99.561792,55931,54233,53610
4,4,USA,1996,3.772504,2.684285,4.028831,5.416667,5.608333,6.083333,100.787433,100.611942,100.623117,56744,55931,54233

In [5]:
# rename TIME
econDF=econDF.rename(columns={'TIME':'Year'})

# create rolling average columns
econDF['GDP_AVG']=(econDF.GDP+econDF.GDP_1+econDF.GDP_2)/3
econDF['Unemployment_AVG']=(econDF.Unemployment+econDF.Unemployment_1+econDF.Unemployment_2)/3
econDF['Confidence_AVG']=(econDF.Confidence+econDF.Confidence_1+econDF.Confidence_2)/3
econDF['Median_Income_AVG']=(econDF.Median_Income+econDF.Median_Income_1+econDF.Median_Income_2)/3
econDF.head()

,Unnamed: 0,LOCATION,Year,GDP,GDP_1,GDP_2,Unemployment,Unemployment_1,Unemployment_2,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2,GDP_AVG,Unemployment_AVG,Confidence_AVG,Median_Income_AVG
0,0,USA,1992,3.522443,-0.108262,1.885960,7.508333,6.816667,5.616667,98.883736,98.929730,99.391740,53897,54318,55952,1.766714,6.647222,99.068402,54722.333333
1,1,USA,1993,2.752852,3.522443,-0.108262,6.900000,7.508333,6.816667,99.561792,98.883736,98.929730,53610,53897,54318,2.055678,7.075000,99.125086,53941.666667
2,2,USA,1994,4.028831,2.752852,3.522443,6.083333,6.900000,7.508333,100.623117,99.561792,98.883736,54233,53610,53897,3.434709,6.830555,99.689548,53913.333333
3,3,USA,1995,2.684285,4.028831,2.752852,5.608333,6.083333,6.900000,100.611942,100.623117,99.561792,55931,54233,53610,3.155323,6.197222,100.265617,54591.333333
4,4,USA,1996,3.772504,2.684285,4.028831,5.416667,5.608333,6.083333,100.787433,100.611942,100.623117,56744,55931,54233,3.495207,5.702778,100.674164,55636.000000

In [6]:
# join on year
mergedDF = movieDF.merge(econDF, on='Year',how='left')

In [7]:
mergedDF.head(20)

,Unnamed: 0_x,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,Unnamed: 0_y,...,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2,GDP_AVG,Unemployment_AVG,Confidence_AVG,Median_Income_AVG
0,0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,2.0,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333
1,1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,22.0,...,99.697407,99.120563,98.800227,56969.0,57856.0,55900.0,2.205866,7.202778,99.206066,56908.333333
2,7,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,1.0,...,99.561792,98.883736,98.929730,53610.0,53897.0,54318.0,2.055678,7.075000,99.125086,53941.666667
4,9,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,2.0,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333
5,11,Toy Story,1995,22-Nov-95,"Animation, Adventure, Comedy, Family, Fantasy",8.3,95.0,G,301126000.0,3.0,...,100.611942,100.623117,99.561792,55931.0,54233.0,53610.0,3.155323,6.197222,100.265617,54591.333333
6,12,The Big Lebowski,1998,6-Mar-98,"Comedy, Crime",8.1,71.0,R,25725000.0,6.0,...,102.053367,101.912050,100.787433,60040.0,57911.0,56744.0,4.233710,4.958333,101.584283,58231.666667
7,13,Saving Private Ryan,1998,24-Jul-98,"Drama, War",8.6,91.0,R,318255000.0,6.0,...,102.053367,101.912050,100.787433,60040.0,57911.0,56744.0,4.233710,4.958333,101.584283,58231.666667
8,14,Fight Club,1999,15-Oct-99,Drama,8.8,66.0,R,53280000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
9,15,The Matrix,1999,31-Mar-99,"Action, Sci-Fi",8.7,73.0,R,246960000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
10,16,Star Wars: Episode I - The Phantom Menace,1999,19-May-99,"Action, Adventure, Fantasy, Sci-Fi",6.5,51.0,PG,620640000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
11,17,Gladiator,2000,5-May-00,"Action, Adventure, Drama",8.5,67.0,R,260903000.0,8.0,...,102.368075,102.206075,102.053367,61399.0,61526.0,60040.0,4.454040,4.238889,102.209172,60988.333333
12,18,X-Men,2000,14-Jul-00,"Action, Adventure, Sci-Fi",7.4,64.0,PG-13,217069112.3,8.0,...,102.368075,102.206075,102.053367,61399.0,61526.0,60040.0,4.454040,4.238889,102.209172,60988.333333
13,19,Harry Potter and the Sorcerer's Stone,2001,16-Nov-01,"Adventure, Family, Fantasy",7.6,64.0,PG,431878731.8,9.0,...,100.301663,102.368075,102.206075,60038.0,61399.0,61526.0,3.293021,4.313889,101.625271,60987.666667
14,20,The Lord of the Rings: The Fellowship of the Ring,2001,19-Dec-01,"Adventure, Drama, Fantasy",8.8,92.0,PG-13,427040000.0,9.0,...,100.301663,102.368075,102.206075,60038.0,61399.0,61526.0,3.293021,4.313889,101.625271,60987.666667
15,21,The Lord of the Rings: The Two Towers,2002,18-Dec-02,"Adventure, Drama, Fantasy",8.7,87.0,PG,451801000.0,10.0,...,100.293418,100.301663,102.368075,59360.0,60038.0,61399.0,2.289174,4.833333,100.987719,60265.666667
16,22,xXx,2002,9-Aug-02,"Action, Adventure, Thriller",5.9,48.0,PG-13,187708342.4,10.0,...,100.293418,100.301663,102.368075,59360.0,60038.0,61399.0,2.289174,4.833333,100.987719,60265.666667
17,23,Finding Nemo,2003,30-May-03,"Animation, Adventure, Comedy, Family",8.1,90.0,G,494688181.0,11.0,...,100.139544,100.293418,100.301663,59286.0,59360.0,60038.0,1.867082,5.500000,100.244875,59561.333333
18,24,The Lord of the Rings: The Return of the King,2003,17-Dec-03,"Adventure, Drama, Fantasy",8.9,94.0,PG-13,473200000.0,11.0,...,100.139544,100.293418,100.301663,59286.0,59360.0,60038.0,1.867082,5.500000,100.244875,59561.333333
19,25,Anchorman: The Legend of Ron Burgundy,2004,9-Jul-04,Comedy,7.2,63.0,PG-13,106853874.4,12.0,...,100.937925,100.139544,100.293418,59080.0,59286.0,59360.0,2.800599,5.766667,100.456962,59242.000000

In [8]:
mergedDF.columns

Index(['Unnamed: 0_x', 'Title', 'Year', 'Release Date', 'Genre', 'IMDb Rating',
       'Metascore', 'Rated', 'Box_Office_Adjusted', 'Unnamed: 0_y', 'LOCATION',
       'GDP', 'GDP_1', 'GDP_2', 'Unemployment', 'Unemployment_1',
       'Unemployment_2', 'Confidence', 'Confidence_1', 'Confidence_2',
       'Median_Income', 'Median_Income_1', 'Median_Income_2', 'GDP_AVG',
       'Unemployment_AVG', 'Confidence_AVG', 'Median_Income_AVG'],
      dtype='object')

In [10]:
# drop any unnecessary columns
mergedDF = mergedDF[['Title','Year','Release Date', 'Genre', 'IMDb Rating',
       'Metascore', 'Rated', 'Box_Office_Adjusted', 
       'GDP', 'GDP_1', 'GDP_2', 'Unemployment', 'Unemployment_1',
       'Unemployment_2', 'Confidence', 'Confidence_1', 'Confidence_2',
       'Median_Income', 'Median_Income_1', 'Median_Income_2', 'GDP_AVG',
       'Unemployment_AVG', 'Confidence_AVG', 'Median_Income_AVG']]
# export to csv
mergedDF.to_csv('mergedData.csv')